{% extends 'base.html.twig' %}

{% block title %}Liste des livres
{% endblock %}

{% block body %}
	<div class="">
		<h1 class="my-4 text-center">Liste des livres</h1>
		<form class="mb-4 d-flex justify-content-center" action="/user/livre/search">
			<div class="input-group w-75">
				<input type="text" name="searchTerm" class="form-control" style="width : 60%" placeholder="Rechercher...">
				<select name="searchBy" class="form-select">
					<option value="-1" disabled selected>Sélectionner une catégorie...</option>
					{% for categorie in categories %}
						<option value="{{ categorie.id }}">{{ categorie.libelle }}</option>
					{% endfor %}
				</select>
				<button class="btn btn-primary" type="submit">Rechercher</button>
			</div>
		</form>
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-4 mt-4">
			{% for livre in paginator %}
				<div class="col">
					<div class="card h-100 shadow">
						<img src="{{ livre.image }}" class="card-img-top" alt="{{livre.titre}}">
						<div class="card-body">
							<h5 class="card-title">{{ livre.titre }}</h5>
							<p class="card-text">{{ livre.editeur }}</p>
						</div>
						<div class="card-footer">
							<a href="{{url('app_user_livre_show',{'id':livre.id})}}" class="btn btn-sm btn-primary">Voir</a>
							<a href="{{url('app_article',{'livre':livre.id})}}" class="btn btn-sm btn-primary">Ajouter au panier</a>

						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="w-100 d-flex justify-content-center mt-5">
			<ul class="pagination pagination-sm">
				{% set currentPath = app.request.get('_route') %}
				{% set currentParams = app.request.query.all %}

				{# Lien vers la page précédente #}
				{% if currentPage > 1 %}
					{% set previousPage = currentPage - 1 %}
					{% set newParams = currentParams|merge({'page': previousPage}) %}
					<li class="page-item">
						<a class="page-link" href="{{ path(currentPath, newParams) }}">«</a>
					</li>
				{% else %}
					<li class="page-item disabled">
						<a class="page-link" href="#">«</a>
					</li>
				{% endif %}

				{# Liens vers les pages #}
				{% set totalPages = (paginator.count / limit)|round(0, 'ceil') %}
				{% set startPage = max(1, currentPage - 4) %}
				{% set endPage = min(totalPages, startPage + 9) %}

				{% if startPage > 1 %}
					<li class="page-item">
						<a class="page-link" href="{{ path(currentPath, currentParams|merge({'page': startPage - 1})) }}">...</a>
					</li>
				{% endif %}

				{% for i in startPage..endPage %}
					{% set pageParams = currentParams|merge({'page': i}) %}
					<li class="page-item{% if i == currentPage %} active{% endif %}">
						<a class="page-link" href="{{ path(currentPath, pageParams) }}">{{ i }}</a>
					</li>
				{% endfor %}

				{% if endPage < totalPages %}
					<li class="page-item">
						<a class="page-link" href="{{ path(currentPath, currentParams|merge({'page': endPage + 1})) }}">...</a>
					</li>
				{% endif %}

				{# Lien vers la page suivante #}
				{% if currentPage < totalPages %}
					{% set nextPage = currentPage + 1 %}
					{% set nextParams = currentParams|merge({'page': nextPage}) %}
					<li class="page-item">
						<a class="page-link" href="{{ path(currentPath, nextParams) }}">»</a>
					</li>
				{% else %}
					<li class="page-item disabled">
						<a class="page-link" href="#">»</a>
					</li>
				{% endif %}
			</ul>
		</div>


	</div>
{% endblock %}
