{% extends 'base.html.twig' %}

{% block title %}catégories
{% endblock %}

{% block body %}
	<h1>catégories</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Libellé</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for category in categories %}
				<tr>
					<td>{{ category.id }}</td>
					<td>{{ category.libelle }}</td>
					<td>
						<a href="{{ path('app_categories_show', {'id': category.id}) }}">afficher</a>
						<a href="{{ path('app_categories_edit', {'id': category.id}) }}">modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">aucun enregistrement trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_categories_new') }}">Créer un nouveau</a>
{% endblock %}
