{% extends 'base.html.twig' %}

{% block title %}Catégories
{% endblock %}

{% block body %}
	<h1>Catégories</h1>

	<table class="table">
		<tbody>

			<tr>
				<th>Libellé</th>
				<td>{{ category.libelle }}</td>
			</tr>

			<tr>
				<th>Description</th>
				<td>{{ category.description }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_categories_index') }}">Retour à la liste</a>

	<a href="{{ path('app_categories_edit', {'id': category.id}) }}">Modifier</a>

	{{ include('categories/_delete_form.html.twig') }}
{% endblock %}
