{% extends 'base.html.twig' %}

{% block title %}Liste des livres
{% endblock %}

{% block body %}
	<h1>Détail du livre
		{{livre.ISBN}}</h1>
	<table class="table">
		<img src="{{livre.image}}" alt="photo du livre">
		<H4>
			Titre:
			{{livre.titre|capitalize}}
			{{livre.prix}}(DT)</H4>
		<H4>Editeur :
			{{livre.editeur}}
			({{livre.editedAt|date('d-m-Y')}})</H4>

		<p>{{livre.resume}}</p>

	{% endblock %}
