{% extends 'base.html.twig' %}

{% block title %}Bonjour OrderController!
{% endblock %}

{% block body %}
	<table class="table align-middle table-hover text-center border rounded-pill shadow-sm">

		<thead class="">
			<tr>
				<th>Commande</th>
				<th>Date</th>
				<th>Total</th>
				<th>Statut</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for order in orders %}
				<tr>
					<th>#{{ order.id }}</th>
					<td>{{ order.orderdate|date('d M, Y. H:i') }}</td>
					<td>{{ order.prixtotal }}
						TND</td>
					<td>
						<span class="badge rounded-pill {% if order.statut == 'En cours' %}bg-info{% elseif order.statut == 'Expédiée' %}bg-warning{% elseif order.statut == 'Terminé' %}bg-success{% elseif order.statut == 'Annulée' %}bg-danger{% endif %}">{{ order.statut }}</span>

					</td>
					<td>
						<a href="{{ path('app_order_edit', {'order': order.id}) }}" class="btn btn-primary">Modifier la commande</a>

					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
