{% extends 'base.html.twig' %}

{% block title %}Bonjour OrderController!
{% endblock %}

{% block body %}


	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card shadow">
					<div class="card-body">
						<h1 class="card-title">Détails de la commande</h1>
						<p class="card-text">Utilisateur:
							{{ order.user.email }}</p>
						<p class="card-text">Date de commande:
							{{ order.orderdate|date('d M, Y. H:i') }}</p>

						<h2>Livres</h2>
						<table class="table">
							<thead>
								<tr>
									<th>Quantité</th>
									<th>Titre</th>
									<th>Prix</th>
								</tr>
							</thead>
							<tbody>
								{% for article in order.panier.articles %}
									<tr>
										<td>{{ article.quantite }}</td>
										<td>{{ article.livre.titre }}</td>
										<td>{{ article.livre.prix * article.quantite }}
											TND</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>

						<p class="card-text">Prix Total:
							<span style="color: green;">{{ order.prixtotal }}
								TND</span>
						</p>
						<p class="card-text">Statut:
							<span class="badge rounded-pill {% if order.statut == 'En cours' %}bg-info{% elseif order.statut == 'Expédiée' %}bg-warning{% elseif order.statut == 'Terminé' %}bg-success{% elseif order.statut == 'Annulée' %}bg-danger{% endif %}">{{ order.statut }}</span>


							<form action="{{url('app_order_update',{'order':order.id})}}" method="POST">
								<select class="form-select" name="statut">
									<option value="En cours">En cours</option>
									<option value="Annulée">Annulée</option>
									<option value="Expédiée">Expédiée</option>
									<option value="Terminé">Terminé</option>
								</select>
								<button type="submit" class="btn btn-primary">Enregistrer</button>
							</form>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
