{% extends 'base.html.twig' %}

{% block title %}utilisateurs
{% endblock %}

{% block body %}
	<h1>utilisateurs</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Email</th>
				<th>Rôles</th>
				<th>Est vérifié</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.email }}</td>
					<td>
						{% for role in user.roles %}
							<span class="badge bg-primary">{{ role }}</span>
						{% endfor %}
					</td>
					<td>{{ user.isVerified ? 'Oui' : 'Non' }}</td>
					<td>
						<a href="{{ path('app_user_show', {'id': user.id}) }}">afficher</a>
						<a href="{{ path('app_user_edit', {'id': user.id}) }}">modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">aucun enregistrement trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
